body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Segoe UI';
    background-color: #21211f;
    color: white;
    padding: 5px;
    zoom: 150%;
    
}


button {
    color: white;
    background-color: #303134;
    margin: 5px;
    border: 1px solid #303134;
    border-radius: 3px;
    padding: 5px;
    height: 35px;
    width: auto;
    
}

button:hover {
    border: 1px solid gray;
}



input {
    margin: 5px;
    padding: 5px;
    height: 25px;
    background-color: #21211f;
    color: white;
    border: 0.25px solid gray;
    border-radius: 5px;
}
